# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
# if you're using pipenv
.venv/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Jupyter Notebook files
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# pytest cache
.pytest_cache/

# environment variables
.env
